.zero-editor-wrapper{
  width: 100%;
  padding: 10px;
  border: 1px solid #fff5e2;
  border-radius: 8px;
  background: #fff;
}
.ProseMirror {
  outline: 0;
}
.zero-editor-container p {
  margin: 0;
}
/* menu */
.zero-editor-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}

.editor-menu-item{
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 12px;
  transition: .3s;
}
.editor-menu-tab{
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  /* top: 30px; */
  left: 50%;
  z-index: 2;
  width: auto;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

.editor-menu-item:hover{
  background-color: #f4f4f5;
}

.editor-menu-item:hover .editor-menu-tab{
  display: flex;
  flex-direction: column;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
ul[data-type="taskList"] p {
  margin: 0;
}
ul[data-type="taskList"] li {
  display: flex;
}
ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}
ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}